footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    background-color: var(--secondary);
}

footer > span {
    font-weight: 600;
    color: var(--gray-500);
}


/* PHONE */
@media screen and (max-width: 768px) {
    footer { padding: 15px 50px; }
    footer > span { font-size: 12px; }
}
  